* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    box-shadow: #333;
}

header {
    background-color: #b4b4b4;
    color: white;
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

ul {
    list-style: none;
    text-align: left;
    margin: 1rem;
}

ul li a {
    text-decoration: none;
    color: #b4b4b4;
    font-weight: bold;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.container {
    display: flex;
    width: 80%;
    margin-bottom: 2rem;
    align-items: center;
}

.container.left {
    flex-direction: row;
    justify-content: flex-start;
}

.container.right {
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.content {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}

.content h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #333;
}

.content img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.content p {
    font-size: 1rem;
    color: #555;
}

.container .content {
    position: relative;
}

.timeline .container.left .content:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: #b4b4b4;
    border-radius: 50%;
    box-shadow: #333;
}

.timeline .container.right .content:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: #b4b4b4;
    border-radius: 50%;
}

footer {
    background-color: #b4b4b4;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .timeline {
        padding: 0 1rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .container.left, .container.right {
        justify-content: center;
    }

    .content {
        width: 90%;
    }

    .content h2 {
        font-size: 1.8rem;
    }
}

